<!DOCTYPE html>
<html>
<body>

	<div class="container buffer"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 text-center">
				<h2>Just <span style="color:rgba(231, 76, 60,1.0);">two clicks</span> to your textbook.</h2>
			</div>
			<div class="col-lg-2"></div>
		</div>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 text-center">
				<input type="email" class="form-control" id="eduEmail" placeholder="Enter your .edu email...">
			</div>
			<div class="col-lg-2"></div>
		</div>
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4 text-center">
				<button type="button" class="btn btn-danger btn-lg register-button">Register</button>
			</div>
			<div class="col-lg-4"></div>
		</div>
	</div>

	<div class="footer text-center">
		<p>Questions? Press? Email <a href="mailto:contact@swapbooks.net">contact@swapbooks.net</a>.</p>
	</div>

</body>
