<%= content_tag "div", id: "books", data: { url: Book.all } do %>
<% end %>

<script>
  var app = angular.module('myBooksApp', []);
  var myBooks = $('#books').data('url')

  app.controller('myBooksController', function($scope, $http) {
    $scope.myBooks = myBooks;
  });
</script>

<body ng-app="myBooksApp" ng-controller="myBooksController">  

  <div class="container">
    <div class="row">
      <!-- show before search -->
      <div class="empty-prod" style="">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div id="the-basics">
            <input class="form-control" id="book-search" ng-model="searchText" type="text" placeholder="Enter an ISBN, book, or author...">
            <div id="results" style="display:none;">
              <div class="row" ng-repeat="book in myBooks | filter:searchText">
                <div class="col-md-2"><img src="assets/{{book.url}}" height="50" ></div>
                <div class="col-md-7 search-text"><strong>{{book.name}}</strong>: <small>{{book.isbn}}</small></div>
                <div class="col-md-3 text-right search-text">{{book.author}}</div>
              </div>
            </div>
          </div>
          <i class="form-control-feedback glyphicon glyphicon-search book-search-btn" style="top:17px;right:13px;cursor:pointer;"></i>
        </div>
        <div class="col-lg-2"></div>
      </div>
      <!-- on click / enter when something is selected show this -->
      <div class="filled-prod" style="display:none;">
        <div class="col-lg-2 my-books-entry-image text-center"><%= image_tag "calc1.gif", height: '50' %></div>
        <div class="col-lg-6 my-books-entry-name"><h4>Calculus of a Single Variable <small>978-0-470-46159-4</small></h4></div>
        <div class="col-lg-3 text-center">
          <div class="row buy-sell-row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4"><button type="button" class="btn btn-success btn-sm">Buy</button></div>
            <div class="col-sm-4"><button type="button" class="btn btn-warning btn-sm">Sell</button></div>
            <div class="col-sm-2"></div>
          </div>
          <div class="row count-row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4"><span class="badge">3</span></div>
            <div class="col-sm-4"><span class="badge">5</span></div>
            <div class="col-sm-2"></div>
          </div>
        </div>
        <div class="col-lg-1 text-center prod-search-close-btn"><h3><span class="glyphicon glyphicon-remove"></span></h3></div>
      </div>
    </div>
  </div>
  </div>

  <div class="container ">
    <div class="row my-books-title">
      <h2>My Books</h2>
    </div>
    <div class="row my-books">
      <!-- SHOW IF NO BOOKS EXIST -->
      <div class="my-books-empty" style="display:none;">
        <div class="my-books-empty-shape">
          <h4 class="my-books-empty-text text-center">add some books!</h4>
        </div>
      </div>
      <!-- SHOW IF BOOKS EXIST -->
      <div class="my-books-populated" style="">
        <div class="row my-books-entry" ng-repeat="book in myBooks">
          <div class="col-lg-2 my-books-entry-image text-center"><img src="assets/{{book.url}}" height="50" ></div>
          <div class="col-lg-6 my-books-entry-name"><h4>{{book.name}} <small>{{book.isbn}}</small></h4></div>
          <div class="col-lg-2 my-books-entry-notification text-center"><span ng-if="book.newNotif" class="badge">!</span></div>
          <div ng-if="!book.isBuying" class="col-lg-2 my-books-entry-label text-center"><h3><span class="label label-warning">Selling</span></h3></div>
          <div ng-if="book.isBuying" class="col-lg-2 my-books-entry-label text-center"><h3><span class="label label-success">Buying</span></h3></div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
