<h1>All the books!</h1>
<ul>
  <% @books.each do |book| %>
    <div class="book-entry">
      <li>
        <p><%= book.name %></p>
        <p><%= book.isbn %></p>
        <%= button_to("Buy it", books_matches_path(book_id: book.id, state: 'buying'), method: :post) %>
        <%= button_to("Sell it", books_matches_path(book_id: book.id, state: 'selling'), method: :post) %>
      </li>
    </div>
  <% end %>
</ul>
