<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats!</h1>
    <h2><%= @buyer.email %> wants to buy your copy of <%= @book.name %>.</h2>

    <p>To seal the deal, follow visit <%= @match_path %> and lock in a date and time.</p>

    <p>Thanks!</p>
    <p>-The Swap Books Team<p>
  </body>
</html>
