<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Congrats! You both decided on a time and place.</h2>

    <p>You'll be meeting on <%= @time.gsub("T"," at ") %>. Don't be late!</p>

    <p>Thanks!</p>
    <p>-The Swap Books Team<p>
  </body>
</html>
