<!DOCTYPE html>
<html>
<head>
  <title>SwapBooks</title>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
  <p class='notice'><%= flash[:notice] %></p>
<% end %>

<%= yield %>

</body>
</html>
